.detail-contener{
    background-color: rgb(231, 231, 231);
    margin-left: 305px;
    border: 1px solid #d5d5d5;
    padding: 4px;
}

.row{
    margin: 0px;
}

.detail_image_miniature{
    width: 25%;
    float: left;
}

.detail_image_grand{
    width: 74%;
    background-color: white;
    padding: 5px;
    border: 1px solid #d5d5d5;
    float: left;
}

.liste_image_miniature{
    margin-left: 0;
}

.image_minuature{
    list-style: none;
    background-color: white;
    margin-bottom: 7px;
    margin-left: 0;
    padding: 5px;
    border: 1px solid #d5d5d5;
    width: 94%;
}

.detail_texte{
    background-color: white;
    padding: 5px;
    border: 1px solid #d5d5d5;
}

.image_detail_bloc{
    width: 45%;
    background-color: #fff;
    height: 495px;
}

.detail_desc_bloc{
    width: calc(55% - 0px);
    margin-left: 0px;
}

.description_detail{
    width: 100%;
}

.desc_text_title{
    width: 100%;
    /* height: 40px; */
    text-align: left;
    letter-spacing: 1px;
    color: rgb(1, 64, 107);
    font-weight: 600;
}

.paragraphe_description{
    height: 70px;
    overflow-y: auto;
}

.detail_fabrication{
    width: 50%;
    float: left;
}

.detail_physique{
    width: 50%;
    float: right;
}

.favoris{
    float: right;
    margin-right: 5px;
}

.vote{
    float: right;
    margin-top: -15px;
    margin-right: 5px;
}

.icon_heart{
    font-size: xx-larger;
    border: 1px solid #d5d5d5;
    padding: 5px;
    cursor: pointer;
}

.icon_vote{
    font-size: xx-larger;
    border: 1px solid #d5d5d5;
    padding: 5px;
    cursor: pointer;
    margin-right: 0;
}

.btn_content{
    width: 100%;
    justify-content: center;
    margin-top: 20px;
}

.btn_ajouter, .btn_acheter{
    /* display: inline-table; */
    width: 150px;
    height: 40px;
    background-color: white;
    color: rgb(1, 64, 107);
    border: 1.5px solid rgb(1, 64, 107);
    margin: 15px;
    border-radius: 1px;
    outline: 0 none!important;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 11px;
    transition: 0.25s;
}
.btn_ajouter:hover, .btn_acheter:hover {
    box-shadow: 0 0.5em 0.5em -0.4em gray;
	transform: translatey(-0.65em);
}

.detail_li{
    list-style: none;
    /* margin: 3px 0px 0px -20px; */
    padding: 5px;
    /* width: 200px; */
    border: 1px solid #d5d5d5;
    border-top: none;
    border-left: none;
    border-right: none;
}

.detail_li_2{
    list-style: none;
    padding: 5px;
    border: 1px solid #d5d5d5;
    border-top: none;
    border-left: none;
    border-right: none;
}

.titre_produit span {
    margin-right: 10px;
    font-size: 18px;
    color: rgb(61, 61, 61);
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: capitalize;
}

.detRight{
    float: right;
    color:gray;
}

ul{
    margin-top: 10px;
    margin-bottom: 1rem;
    margin-left: -20px;
    margin-right: 20px;
}

.nombre_vote {
    /* background-color: red; */
    width: 75px;
    padding: 5px;
    border: 1px solid #d5d5d5;
}

.title_produit{
    /* text-align: center; */
    color: rgb(1, 64, 107);
    margin-bottom: 5px;
    font-size: 30px;
}

.soyez_le_premier_a_voter{
    float: right;
    margin-top: 10px;
    margin-right: 15px;
    color: rgb(1, 64, 107);
}

.detail_prix{
    /* margin-left: 20px; */
    font-size: 14px;
    color: gray;
}

app-home {
    display: none;
}

.top-section {
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    /* left: 50%; */
}

.detail-fract mat-icon {
    vertical-align: middle;
    margin-right: 10px;
    color: rgb(228, 86, 3);
    font-size: xx-larger;
    opacity: 0.7;
}

.detail-fract p {
    text-indent: 35px;
}

.vote-style {
    color: rgba(15, 102, 189, 0.918);
}

.detail-fract span {
    font-size: 16px;
    color: rgb(228,86,3);
    opacity: 0.7;
    font-weight: 600;
}

.detail_prix .prix-style {
    font-size: 15px;
    color:rgb(4, 110, 4);
    font-weight: 600;
}

.detail_prix p {
    font-size: 14px;
    color:gray;
}

.top-detail label {
    font-weight: 600;
}

.warranty span:first-child {
    background: lightgray;
    color: rgb(36, 35, 35);
    border: 1px solid lightgrey;
    padding: 10px 5px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
}

.warranty span:last-child {
    border: 1px solid lightgrey;
    padding: 8px 40px;
    font-weight: 600;
    color: rgb(36, 35, 35);
}

.detail-fract {
    margin-top: 45px;
}

.detail_prix .price {
    font-size: 30px;
}

.detail_prix i {
    text-decoration: line-through;
    color: red;
    margin-left: 3px;
}