<app-boxclient #header></app-boxclient>
<div class="detail-contener">
    <div class="row">
        <div class="col-6">
            <div class="detail_image_content">

                <div class="row">
                    <div class="col-3">
                        <div class="detail_image_miniature">
                            <ul class="liste_image_miniature">
                                <li class="image_minuature" *ngFor="let image of images">
                                    <img src="../../../assets/images/your-logo-png-8.png" width="100%">
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-9">
                        <div class="detail_image_grand">
                            <img src="../../../assets/images/your-logo-png-8.png" width="100%">
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-6">
            <div class="detail_texte">
                <div class="titre_produit">
                    <h1>Ordinateur portable MSI Gaming </h1>
                </div>

                <div class="Categorie_detail">
                    High tech
                </div>

                <div class="detail_prix">
                    Prix : 15.000 Ariary
                </div>

                <div>
                    Soyez la première à voter ce produit!
                </div>

                


            </div>
        </div>
    </div>
</div>