<app-boxclient #header></app-boxclient>
<app-sidebar></app-sidebar>

<div class="detail-contener">
    <div class="row">
        <div class="image_detail_bloc">

            <div class="detail_image_content">
                <div class="detail_image_miniature">
                    <div class="liste_image_miniature">
                        <div class="image_minuature" *ngFor="let image of images">
                            <img src="../../../assets/images/your-logo-png-8.png" width="100%">
                        </div>
                    </div>
                </div>

                <div class="detail_image_grand">
                    <img src="../../../assets/images/your-logo-png-8.png" width="100%">
                </div>
            </div>
        </div>
        <div class="detail_desc_bloc">
            <div class="detail_texte">

                <div class="favoris">
                    <span class="material-icons icon_heart">
                        favorite_outline
                        <!-- {{produit.panier === true ? 'favorite' : 'favorite_outline' }} -->
                    </span>
                </div>

                <div class="titre_produit">
                    <h1 class="title_produit">{{produit.title}}</h1>
                    <span>{{produit.marque}}</span>
                    <span>{{produit.detail_fabrication.numero_model}}</span>
                    <span>{{produit.detail_physique.couleur}}</span>
                </div>

                <div class="soyez_le_premier_a_voter" *ngIf="produit.vote.length==0">
                    Soyez la première à voter ce produit!
                </div>                

                <div class="top-detail">
                    <label>Sortie le: <span> {{produit.detail_fabrication.date_sortie}}</span></label>                 
                </div>

                 <div class="row mb-3">
                    <div class="description_detail col-sm-8">
                        <div class="desc_text_title">
                            Description
                        </div>
                        <hr>
                        <p class="paragraphe_description">
                            {{produit.description}}
                        </p>
                    </div>

                    <div class="col-sm-4">
                        <!-- <div class="two-column">                            
                            <div class="vote-section">                                
                            </div>
                        </div> -->

                        <div class="vote">
                            <span class="material-icons icon_vote" (click)="home.addOrRemoveVote(produit)"
                            [ngStyle]="{'color':produit.a_vote=== true ? 'red': ''}">
                                grade
                            </span>
                            <p class="vote-style">Vote: <span>{{produit.vote.length}}</span></p>
                        </div>

                        <div class="warranty text-center">
                            <p>Garantie: </p><p>{{produit.garantie}}</p>
                        </div>
                        
                        <div class="detail_prix text-center">
                            Prix : <span class="prix-style"><span class="price">{{produit.prix.prix_promotion}}</span>Ariary</span><br/>
                            <i> {{produit.prix.prix}} Ariary</i> 
                        </div>                                          
                    </div>
                 </div>  

                <div class="detail-fract row">
                    <div class="first-fract col-sm-4">
                        <div>
                            <span>Provenance</span>
                            <p>{{produit.provenance}}</p>
                        </div>
                        <div>
                            <span>Taille</span>
                            <p class="text-uppercase">{{produit.detail_physique.taille}}</p>
                        </div>
                    </div>
                    <div class="second-fract col-sm-4">
                        <div>
                            <span>Quantité en stock</span>
                            <p>{{produit.quantite}}</p>
                        </div>
                        <div>
                            <span>Dimension</span>
                            <p>Long :{{produit.detail_physique.longueur}} | Larg: {{produit.detail_physique.largueur}}</p>
                        </div>
                    </div>
                    <div class="third-fract  col-sm-4">
                        <div>
                            <span>Catégorie</span>
                            <p>{{produit.categorie}}</p>
                        </div>
                        <div>
                            <span>Poids</span>
                            <p>{{produit.detail_physique.poids}}</p>
                        </div>
                    </div>
                </div>

                <div class="btn_content row footer-container-page">
                    <!-- <button class="btn_ajouter" *ngIf="produit.panier!='red'"> -->
                    <button class="btn_ajouter" (click) ="addOrRemovePanier();header.getPanier();home.modifierIcon(produit._id)"
                    [ngStyle]="{'color':produit.panier===true ? 'red' : 'green' , 'border':produit.panier===true?'1.5px solid red' : '1.5px solid green'}">
                        {{produit.panier === true ? 'Enlever du panier' : 'Ajouter au panier' }}
                    </button>
                    <button class="btn_acheter">
                        Acheter maintant
                    </button>
                </div>


            </div>
        </div>
    </div>
</div>


<app-home #home></app-home>