.container {    
    width: 100%;
    height: 85vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.container .inscription {    
    width: 900px;    
    padding: 40px 45px 20px 45px;
    border-radius: 3px;  
    border-radius: 3px;  
    background-color: #f6f6f6;
    border: 1px solid #eeeeee;
}

.container .inscription h2.titre {
    letter-spacing: 2px;
    font-size: 30px;
    font-weight : 600;
    text-align: center; 
    margin-bottom: 0.8em;
    color: rgb(1, 64, 107);
    border-radius: 10px 0px 0px;
    margin-top: 0px;
}


.form-group {
    border-radius: 3px;
    border: 0;
    opacity: 0.6;
    border-bottom: 1px solid #d5d5d5;
}

.form-group:focus-within {
    opacity: 1;
}

input.form-control:focus, select.form-control:focus {
    box-shadow: none;    
}

input.form-control, select.form-control {
    border: 0;
}


textarea.form-control {
    border: 0;
    height: 84px;
}

textarea.form-control:focus {
    box-shadow: none;    
}

.input-group .input-group-text {
    background-color: #fff;
    border: none;
    height: 42px;
}

.custom-control-label {
    color: rgb(158, 156, 156);
}

.btn-eye {
    background: white;
    border-left: 2px solid #d5d5d5;
    border: 0;
    opacity: 0.6;
    cursor: auto;
    user-select: none; 
   -webkit-user-select: none; 
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   outline: 0 !important;
}