<app-boxclient #header></app-boxclient>

<div class="container">
    <div [hidden]="submitted">
        <div class="inscription">
            <form #addUserForm="ngForm">
                <h2 class="titre text-uppercase text-center">INSCRIPTION</h2>
                <hr class="horizontal">
                <div class="row">
                    <div class="col-sm-6 ">
                        <div class="form-group mt-3 mb-3  ">
                            <div [hidden]="nom.valid || nom.pristine" class="alert alert-danger">
                                Veuillez renseigner ce champ.
                            </div>
                            <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <mat-icon>person_outline</mat-icon>
                                    </span>
                                </div>
                                <input type="text" class="form-control" id="nom" placeholder="Nom *" required
                                    [(ngModel)]="users.nom" name="nom" #nom="ngModel">
                            </div>

                        </div>
                        <div class="form-group mt-3 mb-3  ">
                                <div [hidden]="prenom.valid || prenom.pristine" class="alert alert-danger">
                                        Veuillez renseigner ce champ.
                                    </div>
                            <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <mat-icon>person_outline</mat-icon>
                                    </span>
                                </div>
                                <input type="text" class="form-control" id="prenom" placeholder="Prenom *" required
                                    [(ngModel)]="users.prenom" name="prenom" #prenom="ngModel">
                            </div>
                        </div>
                        <div class="form-group mt-3 mb-3  ">
                            <div [hidden]="adresse.valid || adresse.pristine" class="alert alert-danger">
                                Veuillez renseigner ce champ.
                            </div>
                            <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <mat-icon>local_shipping</mat-icon>
                                    </span>
                                </div>
                                <input type="text" class="form-control" id="adresse" placeholder="Adresse *" required
                                    [(ngModel)]="users.adresse" name="adresse" #adresse="ngModel">
                            </div>
                        </div>
                        <div class="form-group mt-3 mb-3  ">
                            <div [hidden]="tel.valid || tel.pristine" class="alert alert-danger">
                                Veuillez renseigner ce champ.
                            </div>
                            <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <mat-icon>call</mat-icon>
                                    </span>
                                </div>
                                <input type="number" class="form-control" id="tel" placeholder="Telephone *" required
                                    [(ngModel)]="users.tel" name="tel" maxlength="10" #tel="ngModel">
                            </div>
                        </div>

                        <!-- Avatar
                              <div class="form-group mt-3 mb-3  ">
                            <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <mat-icon>local_see</mat-icon>
                                    </span>
                                </div>
                                <input type="text" class="form-control" id="avatar" placeholder="Votre avatar"
                                    [(ngModel)]="users.avatar" name="avatar" #avatar="ngModel">
                            </div>
                        </div>
    
                        -->
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group mt-3 mb-3  ">
                            <div [hidden]="username.valid || username.pristine" class="alert alert-danger">
                                Veuillez renseigner ce champ.
                            </div>
                            <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <mat-icon>person</mat-icon>
                                    </span>
                                </div>
                                <input type="text" class="form-control" id="username" placeholder="Idetifiant *" required
                                    [(ngModel)]="users.username" name="username" #username="ngModel">
                            </div>
                            <div [hidden]="!this.userExist" class="alert alert-danger">
                                Cet Username existe déjà
                            </div>

                        </div>
                        <div class="form-group mt-3 mb-3  ">

                            <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
                                Veuillez renseigner ce champ.
                            </div>


                            <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <mat-icon>email</mat-icon>
                                    </span>
                                </div>

                                <input type="email" class="form-control" (keyup)="keyEmail($event)" id="email"
                                    placeholder="Email *" required [(ngModel)]="users.email" name="email"
                                    #email="ngModel">
                                <div *ngIf="invalidMail" style="color:red">Email invalid</div>

                            </div>
                            <div [hidden]="!this.emailExist" class="alert alert-danger">
                                Cet email existe déjà
                            </div>
                        </div>


                        <div class="form-group mt-3 mb-3 ">
                            <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
                                Veuillez renseigner ce champ.
                            </div>
                            <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <mat-icon>lock_open</mat-icon>
                                    </span>
                                </div>
                                <input class="form-control" id="password" placeholder="Mot de passe *"
                                    [type]="show ? 'text' : 'password'" required [(ngModel)]="users.password"
                                    name="password" #password="ngModel">
                                <button (mousedown)="passwordFunction()" class="btn-eye">
                                    <mat-icon>{{show != true ? 'visibility' : 'visibility_off'}}</mat-icon>
                                </button>
                            </div>
                        </div>
                        <div class="form-group mt-3 mb-3 ">
                            <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
                                Veuillez renseigner ce champ.
                            </div>
                            <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <mat-icon>lock_open</mat-icon>
                                    </span>
                                </div>
                                <input class="form-control" id="confirmPassword" placeholder="Confirm Mot de passe *"
                                    [(ngModel)]="users.confirmPassword" #confirmPassword="ngModel"
                                    [type]="show ? 'text' : 'password'" name="confirmPassword"
                                    (keyup)="ConfirmPassword(users.password,users.confirmPassword)" required>
                                <div *ngIf="invalidConfirmPassword" style="color:red">Confirm Mot de passe Invalid</div>
                                <button (mousedown)="passwordFunction()" class="btn-eye">
                                    <mat-icon>{{show != true ? 'visibility' : 'visibility_off'}}</mat-icon>
                                </button>
                            </div>
                        </div>
                        <!-- Role
                             <div class="form-group mt-3 mb-3  ">
                            <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <mat-icon>domain</mat-icon>
                                    </span>
                                </div>
                                <input type="text" class="form-control" id="tel" placeholder="Votre Role"
                                    [(ngModel)]="users.role" name="role" #role="ngModel">
                            </div>
                        </div>
                        -->              
                    </div>
                </div>
                <button class="btn btn-block mt-3 mb-2 text-uppercase text-light"
                    style="background-color: rgb(1, 64, 107);" (click)="addUsers(addUserForm)"
                    [disabled]="!addUserForm.form.valid">s'inscrire</button>
            </form>
        </div>
    </div>
    <!-- Inscription Valid -->
    <div [hidden]="!submitted">
        <div class="inscriptionTerminer">
            <h2 class="titre text-uppercase text-center">
                Bienvenu {{users.nom}} , Votre inscription a été effectué avec succès</h2>
            <hr class="horizontal">
            <div class="row">
                <div class="col-sm-6">
                    <button class="btn btn-block mt-3 mb-2 text-uppercase text-light"
                        style="background-color: rgb(1, 64, 107);" [routerLink]="['/login']">SE CONNECTER</button>
                </div>
            </div>
        </div>
    </div>
    <!--  End Inscription Valid -->
</div>