<app-boxclient #header></app-boxclient>

<div class="dashboard-contener">

    <div class="row">
        <div class="menu_gauche">
            <div class="menu_content">


                <div class="menu_aller_au_site" title="Revenir au site de commerce" [routerLink]="['/home/']">
                    <span class="material-icons">
                        store
                    </span>
                    <span class="label_aller_au_site">
                        Aller au site
                    </span>
                </div>
                <div class="menu_produits active_menu" [routerLink]="['/dashboard/produits']">
                    Produits
                </div>
                <div class="menu_produits" [routerLink]="['/dashboard/users']">
                    Utilisateurs
                </div>
                <div class="menu_produits" [routerLink]="['/dashboard/commandes']">
                    Commandes
                </div>
                <div class="menu_produits">
                    Reporting
                </div>
                <div class="menu_produits">
                    K.P.I
                </div>
                <div class="menu_produits">
                    Feedbacks
                </div>
                <div class="menu_produits">
                    Historique des recherches
                </div>
                <div class="menu_produits">
                    Logs
                </div>

            </div>
        </div>

        <div class="list_centre">
            <!-- <div>
                <input type="text" placeholder="Rechercher">
            </div> -->
            <div class="content_dans_list" id="content_dans_list" [ngStyle]="{'height': isEtireListe == false ? '70%' : '100%'}">
                <div class="menu_dans_list">

                    <p class="titleItem">
                        Produits
                    </p>

                    <button class="btn_creer" (click)="createProduit()" title="Créer un nouveau produit"
                        [disabled]="createType">
                        <span class="material-icons add_produit_icon">
                            add
                        </span>
                        Créer un nouveau
                    </button>


                    <div class="categorieItem">
                        Les catégories
                    </div>

                    <p class="menu_item">
                        Tout
                        <span class="compte_produit" title="Nombre de tout les produits dans la base">
                            15/2630
                        </span>
                    </p>
                    <p class="menu_item">
                        Ordinateur
                        <span class="compte_produit">
                            654
                        </span>
                    </p>
                    <p class="menu_item">
                        Vêtements
                        <span class="compte_produit">
                            1520
                        </span>
                    </p>
                    <p class="menu_item">
                        Téléphone
                        <span class="compte_produit">
                            987
                        </span>
                    </p>
                    <p class="menu_item">
                        Voiture
                        <span class="compte_produit">
                            45
                        </span>
                    </p>
                    <p class="menu_item">
                        Imprimente
                        <span class="compte_produit">
                            63
                        </span>
                    </p>
                    <p class="menu_item">
                        Accessoires
                        <span class="compte_produit">
                            1263
                        </span>
                    </p>

                </div>



                <div class="list_dans_list">

                    <div class="filter" [ngStyle]="{'background-color':showFilter===true ? '#fafafa' : 'lightgrey'}">
                        <button class="btn_filter" (click)="afficherFiltre()" title="Filtrer les resultats">
                            <span class="material-icons">
                                sort
                            </span>
                        </button>
                    </div>

                    <div class="filter_content" *ngIf="showFilter">
                        <input type="text" name="search" [(ngModel)]="searchText" class="input_filter"
                            placeholder="Filtrer par nom...">

                        <p class="title_filter">Choisissez votre filtre</p>
                        <hr class="hr_filtre">
                        <input type="radio" id="none" name="filtre" value="none" (change)="changefiltre($event)">
                        <label for="none" class="item_filtre" title="Pas de filtre">Aucun</label>
                        <hr class="hr_filtre">
                        <input type="radio" id="prix_asc" name="filtre" value="prix_asc"
                            (change)="changefiltre($event)">
                        <label for="prix_asc" class="item_filtre" title="De moins chèr au plus chèr">Prix
                            ascendant</label>
                        <hr class="hr_filtre">
                        <input type="radio" id="prix_desc" name="filtre" value="prix_desc"
                            (change)="changefiltre($event)">
                        <label for="prix_desc" class="item_filtre" title="De plus chèr au moins chèr">Prix
                            descendant</label>
                        <hr class="hr_filtre">
                        <input type="radio" id="vote_asc" name="filtre" value="vote_asc"
                            (change)="changefiltre($event)">
                        <label for="vote_asc" class="item_filtre" title="De plus de vote au moins de vote">Vote
                            ascendant</label>
                        <hr class="hr_filtre">
                        <input type="radio" id="vote_desc" name="filtre" value="prix_desc"
                            (change)="changefiltre($event)">
                        <label for="vote_desc" class="item_filtre" title="De moins de vote au plus de vote">Vote
                            descendant</label>
                        <hr class="hr_filtre">
                        <input type="radio" id="sandbox" name="filtre" value="sandbox" (change)="changefiltre($event)">
                        <label for="sandbox" class="item_filtre" title="">sandbox</label>
                        <hr class="hr_filtre">
                        <input type="radio" id="live" name="filtre" value="live" (change)="changefiltre($event)">
                        <label for="live" class="item_filtre" title="">live</label>
                        <hr class="hr_filtre">
                        <input type="radio" id="archived" name="filtre" value="archived"
                            (change)="changefiltre($event)">
                        <label for="archived" class="item_filtre" title="">archived</label>
                        <hr class="hr_filtre">
                    </div>

                    <div class="selectionner">
                        <label class="container" style="font-size: small;" title="Basculer selection simple/multiple">
                            {{oneAndAll == true ? 'Cocher' : 'Décocher' }}
                            <input type="checkbox" (click)="toggleOneAndAll()">
                            <span class="checkmark"></span>
                        </label>
                    </div>

                    <div class="recherche_box">
                        <input type="text" placeholder="Rechercher produit.." class="input_search">
                        <button class="btn_search">
                            Rechercher
                        </button>
                    </div>


                    <div class="contenu_element" (scroll)="scrolled()" id="element">
                        <ngx-spinner [name]="spinner_list_Produit" [fullScreen]="false" [type]="spinner_type"
                            [size]="spinner_size" [bdColor]="spinner_background"></ngx-spinner>



                        <div *ngIf="oneAndAll">
                            <button class="element_un" *ngFor="let p of produits | filter:searchText ; let i=index"
                                title="Click droite pour l'option" [ngStyle]="{'border': p._id == oneProduit._id ? '1px solid cornflowerblue' : ''}"
                                (click)="getOneProduit(p,i);" (contextmenu)="onRightClick($event);getOneProduit(p,i);"
                                (keydown.Delete)="oneProduit.etat == 'archived' ? deleteProduct() : false"
                                (keyup.shift.a)="launchOrArhiveOrDelete()">
                                <img src="../../../../assets/images/your-logo-png-8.png" width="50px" alt="">
                                <span class="title_produit_list" [title]="p.titre">
                                    {{p.titre}}
                                </span>
                                <span class="state_produit_on_list" [title]="p.etat"
                                    [ngStyle]="{'color': p.etat === 'live' ? 'green' : p.etat === 'sandbox' ? 'orange' : 'red'}">
                                    {{p.etat}}
                                </span>
                            </button>
                        </div>
                        <div *ngIf="!oneAndAll">
                            <div class="element_un_check" *ngFor="let p of produits | filter:searchText"
                                title="{{p.title}}" [ngStyle]="{'opacity': p.etat!=state_to_change ? '0.7' : '1'}">
                                <input type="checkbox" class="checkCase" name="" check="true" id="{{p._id}}"
                                    [disabled]="p.etat!=state_to_change" (click)="selectProduit(p);"
                                    title="Cocher ici pour selection le produit"
                                    (keydown.control.a)="selectionnerTout($event)">
                                <img src="../../../../assets/images/your-logo-png-8.png" width="50px" alt="">
                                <span class="title_produit_list">
                                    {{p.titre}}
                                </span>
                                <span class="state_produit_on_list" title="Etats du produit"
                                    [ngStyle]="{'color': p.etat === 'live' ? 'green' : p.etat === 'sandbox' ? 'orange' : 'red'}">
                                    {{p.etat}}
                                </span>
                            </div>
                        </div>

                    </div>

                    <div class="loadMore" *ngIf="loadMore">
                        <ngx-spinner [name]="spinner_loadMore" [fullScreen]="false" type="line-scale" size="5px"
                            [bdColor]="spinner_background">
                        </ngx-spinner>
                    </div>

                </div>
            </div>
            <!-- Peut etre statistic, nombre de vote, nombre de favorie, nombre de commande fais, sns -->
            <span (click)="isEtireListe = isEtireListe == false ? true : false" class="material-icons iconEtirer" [title]="isEtireListe == true ? 'Montrer le bloc' : 'Cacher le bloc'">
                {{isEtireListe == true ? 'expand_less' : 'expand_more' }}
            </span>
            <div class="content_stat_image" [ngStyle]="{'height': isEtireListe == false ? '30%' : '0%'}">
                <div class="stat">
                    <p class="titlte_statistique">Interactions</p>
                    <!--anciennement appelé statitstique-->

                    <div class="stat_vote_content">

                        <div class="content_list_statistics" *ngIf="showDetailListStat" id="detailStat"
                            [ngStyle]="{'margin-top': listDetailToShow==='vote' ? '-367px': listDetailToShow ==='favoris' ? '-336px' : listDetailToShow ==='vu'? '-305px' : '' }">


                            <div class="ici_le_contenu">
                                <div class="title_detail_stat_list">
                                    {{titleDetailListStat}}
                                </div>
                                <div class="la_liste">

                                    <ngx-spinner [name]="spinner_list_user" [fullScreen]="false" [type]="spinner_type"
                                        [size]="spinner_size" [bdColor]="spinner_background">
                                    </ngx-spinner>

                                    <div class="list_client_stat">
                                        <div class="nom_client_stat" title="Cliquer pour voir le detail du client">
                                            RAZAFINARIVO John Francklin
                                        </div>
                                        <div class="adress_client_stat">
                                            Antananarivo Lot A69 Anjanahary 2N
                                        </div>
                                    </div>
                                    <div class="list_client_stat">
                                        <div class="nom_client_stat" title="Cliquer pour voir le detail du client">
                                            RANDY Orton WWE Superstart
                                        </div>
                                        <div class="adress_client_stat">
                                            Chicago, Etats Unis 21K KL21000
                                        </div>
                                    </div>
                                    <div class="list_client_stat">
                                        <div class="nom_client_stat" title="Cliquer pour voir le detail du client">
                                            The Undertaker, brother of destruction WWE universe
                                        </div>
                                        <div class="adress_client_stat">
                                            Cinetière, Los angeles, great park 2351MD
                                        </div>
                                    </div>
                                    <div class="list_client_stat">
                                        <div class="nom_client_stat" title="Cliquer pour voir le detail du client">
                                            Cristiano Ronaldo CR7
                                        </div>
                                        <div class="adress_client_stat">
                                            Espaigne, madrid, santiago bernabeu
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="triangle-left"></div>


                        </div>



                        <div class="list_of_stat">
                            <div class="label_s">
                                <span class="material-icons icon_stat">
                                    grade
                                </span>
                                Votes :
                            </div>
                            <div class="info_s" title="Nombre de vote">
                                <span class="number">
                                    {{oneProduit.vote.length}}
                                </span>
                                <span class="material-icons icon_list"
                                    (click)="showDetailstatistic('vote','Liste client qui a voté ce produit')"
                                    title="Liste des clients qui a voté ce produit">
                                    list
                                </span>
                            </div>
                        </div>
                        <div class="list_of_stat">
                            <div class="label_s">
                                <span class="material-icons icon_stat">
                                    favorite
                                </span>
                                Favoris :
                            </div>
                            <div class="info_s" title="Nombre de favoris">
                                <span class="number">
                                    {{oneProduit.favoris.length}}
                                </span>
                                <span class="material-icons icon_list"
                                    (click)="showDetailstatistic('favoris','Liste client qui a favorisé ce produit')"
                                    title="Liste des clients qui a favorisé ce produit">
                                    list
                                </span>
                            </div>
                        </div>
                        <div class="list_of_stat">
                            <div class="label_s">
                                <span class="material-icons icon_stat">
                                    visibility
                                </span>
                                Vus :
                            </div>
                            <div class="info_s" title="nombre de vu">
                                <span class="number">
                                    {{oneProduit.vu}}
                                </span>
                                <span class="material-icons icon_list"
                                    (click)="showDetailstatistic('vu','Liste client qui a vu ce produit')"
                                    title="Liste des clients qui a vu ce produit">
                                    list
                                </span>
                            </div>
                        </div>
                        <div class="list_of_stat">
                            <div class="label_s">
                                <span class="material-icons icon_stat">
                                    shop
                                </span>
                                Commandes :
                            </div>
                            <div class="info_s" title="nombre de commande">
                                <span class="number">
                                    15
                                </span>
                                <span class="material-icons icon_list"
                                    (click)="showDetailstatistic('commande','Liste client qui a commandé ce produit')"
                                    title="Liste des clients qui a commandé ce produit">
                                    list
                                </span>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="imageCont">
                    <div class="box_image" *ngFor="let i of oneProduit.images" (click)="popupImageProduits()">
                        <!-- <img src="../../../../assets/images/your-logo-png-8.png" class="image_produit"> -->
                        <img src="http://localhost:3000/produits/getImage/{{i}}-hd.jpeg" class="image_produit">
                    </div>
                    <div class="box_image" *ngIf="oneProduit.images.length!=3" (click)="file.click()">
                        <span class="material-icons add_image">
                            add
                        </span> <br>
                        Ajouter une image
                    </div>
                    <input type="file" name="" id="" hidden #file (change)="uploadFile($event.target.files)">
                </div>
            </div>
        </div>

        <div class="detail_droit">


            <h3 class="lbl_h3_detail" *ngIf="oneAndAll"> {{createType ? "Nouveau produit" : "Detail du produit"}}</h3>

            <!-- Non selection -->
            <button class="button_change_state" *ngIf="oneAndAll && !createType" (click)="launchOrArhiveOrDelete()"
                [ngStyle]="{'background-color': oneProduit.etat=='sandbox' ? '#73be00' : oneProduit.etat=='live'  ? 'orange' : 'red'}"
                [title]="oneProduit.etat == 'sandbox' ? 'Vous pouvez lancer le produit en live' : oneProduit.etat == 'live' ? 'Archiver le produit' : 'Supprimer le produit'">
                {{oneProduit.etat == 'sandbox' ? 'Lancer' : oneProduit.etat == 'live' ? 'Archiver' : 'Supprimer'}}
            </button>

            <div class="" *ngIf="!oneAndAll">
                <div class="etatContent">
                    <p class="title_etatContent">Selectionner l'etat du produit</p>
                    <div class="etatProduitSelect">
                        <input type="radio" id="sandbox" name="etat" value="sandbox" (change)="changeEtat($event)"
                            [checked]="state_to_change=='sandbox'"
                            (keydown.control.a)="selectionnerTout($event)">
                        <label class="labelEtat" for="sandbox">sandbox</label>
                    </div>

                    <div class="etatProduitSelect">
                        <input type="radio" id="live" name="etat" value="live" (change)="changeEtat($event)"
                            [checked]="state_to_change =='live'"
                            (keydown.control.a)="selectionnerTout($event)">
                        <label class="labelEtat" for="live">live</label>
                    </div>

                    <div class="etatProduitSelect">
                        <input type="radio" id="archived" name="etat" value="archived" (change)="changeEtat($event)"
                            [checked]="state_to_change =='archived'"
                            (keydown.control.a)="selectionnerTout($event)">
                        <label class="labelEtat" for="archived">archived</label>
                    </div>
                </div>
            </div>


            <h3 class="lbl_h3_detail" *ngIf="!oneAndAll && produitSelected.length!=0">Nombre: {{produitSelected.length}}
            </h3>

            <div *ngIf="oneAndAll">

                <p class="dateCreationContent"> Crée le <span class="infoDate">12 Septembre 2013</span> par <span
                        class="infoDate">Rakoto</span> </p>

                <div class="detail_to_change">
                    <input type="text" class="input_change" [(ngModel)]="oneProduit.titre" title="Editer" id="titre"
                        [ngStyle]="{'border-color': oneProduit.titre == '' ? '#d5d5d4' : '#d5d5d5'}"
                        (keydown.enter)="createType == true ? createProduct() : updateProduct()">
                    <div class="label_change">
                        Titre
                    </div>
                </div>
                <div class="detail_to_change_description">
                    <textarea type="text" class="textarea_change" [(ngModel)]="oneProduit.description" id="description"
                        [ngStyle]="{'border-color': oneProduit.description == '' ? '#d5d5d4' : '#d5d5d5'}"
                        placeholder="Description du produit..."></textarea>
                    <div class="label_change">
                        Description
                    </div>
                </div>


                <div class="groupe_content">
                    <div class="leftSide sideToside">
                        <div class="detail_to_change">
                            <input type="text" class="input_change" [(ngModel)]="oneProduit.etat" id="etat" disabled
                                style="background-color: white;"
                                [ngStyle]="{'border-color': oneProduit.etat == '' ? '#d5d5d4' : '#d5d5d5'}"
                                (keydown.enter)="createType == true ? createProduct() : updateProduct()">
                            <div class="label_change">
                                Etat
                            </div>
                        </div>
                    </div>
                    <div class="rightSide sideToside">
                        <div class="detail_to_change">
                            <input type="text" class="input_change rightNumber" [(ngModel)]="oneProduit.marque"
                                id="marque"
                                [ngStyle]="{'border-color': oneProduit.marque == '' ? '#d5d5d4' : '#d5d5d5'}"
                                (keydown.enter)="createType == true ? createProduct() : updateProduct()">
                            <div class="label_change">
                                Marque
                            </div>
                        </div>
                    </div>
                </div>

                <div class="groupe_content">
                    <div class="leftSide sideToside">
                        <div class="detail_to_change">
                            <input type="text" class="input_change" [(ngModel)]="oneProduit.provenance" id="provenance"
                                [ngStyle]="{'border-color': oneProduit.provenance == '' ? '#d5d5d4' : '#d5d5d5'}"
                                (keydown.enter)="createType == true ? createProduct() : updateProduct()">
                            <div class="label_change">
                                Provenance
                            </div>
                        </div>
                    </div>
                    <div class="rightSide sideToside">
                        <div class="detail_to_change">
                            <input type="number" class="input_change rightNumber" [(ngModel)]="oneProduit.quantite"
                                id="quantite"
                                [ngStyle]="{'border-color': oneProduit.quantite == '' ? '#d5d5d4' : '#d5d5d5'}"
                                (keydown.enter)="createType == true ? createProduct() : updateProduct()">
                            <div class="label_change">
                                Quantité en stock
                            </div>
                        </div>
                    </div>
                </div>

                <div class="groupe_content">
                    <div class="leftSide sideToside">
                        <div class="detail_to_change">
                            <input type="text" class="input_change" [(ngModel)]="oneProduit.detail_physique.couleur"
                                id="couleur"
                                [ngStyle]="{'border-color': oneProduit.detail_physique.couleur == '' ? '#d5d5d4' : '#d5d5d5'}"
                                (keydown.enter)="createType == true ? createProduct() : updateProduct()">
                            <div class="label_change">
                                Couleur
                            </div>
                        </div>
                    </div>
                    <div class="rightSide sideToside">
                        <div class="detail_to_change">
                            <input type="number" class="input_change rightNumber" [(ngModel)]="oneProduit.garantie"
                                id="garantie"
                                [ngStyle]="{'border-color': oneProduit.garantie == '' ? '#d5d5d4' : '#d5d5d5'}"
                                (keydown.enter)="createType == true ? createProduct() : updateProduct()">
                            <div class="label_change">
                                Garantie
                            </div>
                        </div>
                    </div>
                </div>

                <div class="groupe_content">
                    <div class="leftSide sideToside">
                        <div class="detail_to_change">
                            <input type="number" class="input_change" [(ngModel)]="oneProduit.prix.prix_normal"
                                id="prix_normal"
                                [ngStyle]="{'border-color': oneProduit.prix.prix_normal == '' ? '#d5d5d4' : '#d5d5d5'}"
                                (keydown.enter)="createType == true ? createProduct() : updateProduct()">
                            <div class="label_change">
                                Prix
                            </div>
                        </div>
                    </div>
                    <div class="rightSide sideToside">
                        <div class="detail_to_change">
                            <input type="number" class="input_change rightNumber"
                                [(ngModel)]="oneProduit.prix.prix_promotion" id="prix_promotion"
                                [ngStyle]="{'border-color': oneProduit.prix.prix_promotion == '' ? '#d5d5d4' : '#d5d5d5'}"
                                (keydown.enter)="createType == true ? createProduct() : updateProduct()">
                            <div class="label_change">
                                Prix de promotion
                            </div>
                        </div>
                    </div>
                </div>

                <div class="groupe_content">
                    <div class="leftSide sideToside">
                        <div class="detail_to_change">
                            <input type="text" class="input_change"
                                [(ngModel)]="oneProduit.detail_fabrication.numero_model" id="numero_model"
                                [ngStyle]="{'border-color': oneProduit.detail_fabrication.numero_model == '' ? '#d5d5d4' : '#d5d5d5'}"
                                (keydown.enter)="createType == true ? createProduct() : updateProduct()">
                            <div class="label_change">
                                Numero de model
                            </div>
                        </div>
                    </div>
                    <div class="rightSide sideToside">
                        <div class="detail_to_change">
                            <input type="text" class="input_change rightNumber"
                                [(ngModel)]="oneProduit.detail_fabrication.date_sortie" id="date_sortie"
                                [ngStyle]="{'border-color': oneProduit.detail_fabrication.date_sortie == '' ? '#d5d5d4' : '#d5d5d5'}"
                                (keydown.enter)="createType == true ? createProduct() : updateProduct()">
                            <div class="label_change">
                                Date de sortie
                            </div>
                        </div>
                    </div>
                </div>

                <div class="groupe_content">
                    <div class="leftSide sideToside">
                        <div class="detail_to_change">
                            <input type="text" class="input_change" [(ngModel)]="oneProduit.detail_physique.taille"
                                id="taille"
                                [ngStyle]="{'border-color': oneProduit.detail_physique.taille == '' ? '#d5d5d4' : '#d5d5d5'}"
                                (keydown.enter)="createType == true ? createProduct() : updateProduct()">
                            <div class="label_change">
                                Taille
                            </div>
                        </div>
                    </div>
                    <div class="rightSide sideToside">
                        <div class="detail_to_change">
                            <input type="number" class="input_change rightNumber"
                                [(ngModel)]="oneProduit.detail_physique.poids" id="poids"
                                [ngStyle]="{'border-color': oneProduit.detail_physique.poids == '' ? '#d5d5d4' : '#d5d5d5'}"
                                (keydown.enter)="createType == true ? createProduct() : updateProduct()">
                            <div class="label_change">
                                Poids
                            </div>
                        </div>
                    </div>
                </div>
                <div class="groupe_content">
                    <div class="leftSide sideToside">
                        <div class="detail_to_change">
                            <input type="number" class="input_change" [(ngModel)]="oneProduit.detail_physique.longueur"
                                id="longueur"
                                [ngStyle]="{'border-color': oneProduit.detail_physique.longueur == '' ? '#d5d5d4' : '#d5d5d5'}"
                                (keydown.enter)="createType == true ? createProduct() : updateProduct()">
                            <div class="label_change">
                                Longueur
                            </div>
                        </div>
                    </div>
                    <div class="rightSide sideToside">
                        <div class="detail_to_change">
                            <input type="number" class="input_change rightNumber"
                                [(ngModel)]="oneProduit.detail_physique.largeur" id="largeur"
                                [ngStyle]="{'border-color': oneProduit.detail_physique.largeur == '' ? '#d5d5d4' : '#d5d5d5'}"
                                (keydown.enter)="createType == true ? createProduct() : updateProduct()">
                            <div class="label_change">
                                Largeur
                            </div>
                        </div>
                    </div>
                </div>


                <div class="detail_to_change_button">

                    <form>
                        <button class="btn_modifier" *ngIf="!createType" [disabled]="oneProduit.etat == 'archived'"
                            mat-button (click)="updateProduct()"
                            [ngStyle]="{'background-color': oneProduit.etat == 'archived' ? 'white' : '' , 'border': oneProduit.etat == 'archived' ? 'none' : '' }">
                            Modifier
                        </button>
                        <button class="btn_supprimer" *ngIf="!createType" (click)="deleteProduct()">
                            {{oneProduit.etat == 'live' ? 'Archiver' : 'Supprimer'}}
                        </button>
                        <button class="btn_modifier" *ngIf="createType" (click)="createProduct()">
                            Créer
                        </button>
                        <button class="btn_modifier" *ngIf="createType" (click)="cancelCreate()">
                            Annuler
                        </button>
                    </form>
                </div>

            </div>

            <div *ngIf="!oneAndAll">
                <div style="height: 500px; overflow-y: scroll; padding-right: 10px;">
                    <div class="element_un_selected" *ngFor="let p of produitSelected" title="{{p.description}}">
                        <img src="../../../../assets/images/your-logo-png-8.png" width="50px" alt=""> {{p.titre}}
                        <span class="material-icons icon_remove_ticket" (click)="removeFromProduitSelected(p)"
                            title="Enlever le produit">
                            remove_circle_outline
                        </span>
                    </div>
                </div>

                <button class="btn_suppr_selectionne" *ngIf="produitSelected.length!=0"
                    (click)="launchOrArhiveOrDelete_Multiple()">
                    {{state_to_change == 'live' ? 'Archiver les selectionnés' : state_to_change == 'sandbox' ? 'Lancer les selectionnés' : 'Supprimer les selectionnés'}}
                </button>

            </div>


        </div>

    </div>
</div>


<ng-template #imageProduit style="background-color: white;">
    <img src="../../../../assets/images/your-logo-png-8.png" width="100%" alt="">
</ng-template>



<ng-template #dialogBox *ngIf="oneAndAll">
    {{oneProduit.etat == 'sandbox' ? ' voulez-vous lancer' : oneProduit.etat == 'live' ? 'voulez-vous archiver' : 'voulez-vous Supprimer'}}
    le produit <label style="color:blue">"{{oneProduit.titre}}"</label> ?
    <div>
        <button [mat-dialog-close]=false class="button_dialog_cancel">Annuler</button>
        <button [mat-dialog-close]=true class="button_dialog_confirm"
            [ngStyle]="{'background-color': oneProduit.etat=='sandbox' ? '#73be00' : oneProduit.etat=='live'  ? 'orange' : 'red'}">
            {{oneProduit.etat == 'sandbox' ? 'Lancer' : oneProduit.etat == 'live' ? 'Archiver' : 'Supprimer'}}
        </button>
    </div>
</ng-template>


<ng-template #dialogBox *ngIf="!oneAndAll">
    {{state_to_change == 'sandbox' ? ' voulez-vous lancer' : state_to_change == 'live' ? 'voulez-vous archiver' : 'voulez-vous Supprimer'}}
    <label style="color:blue">{{produitSelected.length}} produit(s) </label> selectionnés ?
    <div>
        <button [mat-dialog-close]=false class="button_dialog_cancel">Annuler</button>
        <button [mat-dialog-close]=true class="button_dialog_confirm"
            [ngStyle]="{'background-color': state_to_change=='sandbox' ? '#73be00' : state_to_change=='live'  ? 'orange' : 'red'}">
            {{state_to_change == 'sandbox' ? 'Lancer' : state_to_change == 'live' ? 'Archiver' : 'Supprimer'}}
        </button>
    </div>
</ng-template>


<div style="visibility: hidden; position: fixed" [style.left]="contextMenuPosition.x"
    [style.top]="contextMenuPosition.y" [matMenuTriggerFor]="contextMenu">
    <mat-menu #contextMenu="matMenu">
        <ng-template matMenuContent>
            <button mat-menu-item class="itemContextuel" (click)="launchOrArhiveOrDelete()">
                {{oneProduit.etat == 'sandbox' ? 'Lancer' : oneProduit.etat == 'live' ? 'Archiver' : 'Supprimer'}}
            </button>
            <button mat-menu-item class="itemContextuel" (click)="file.click()" *ngIf="oneProduit.etat == 'sandbox' || oneProduit.etat == 'live'">
                Ajouter image
            </button>
            <button mat-menu-item class="itemContextuel" 
            [ngStyle]="{'opacity': oneProduit.etat == 'sandbox' ? 1 : 0.5, 'pointer-events': oneProduit.etat == 'sandbox' ? 'auto' : 'none'}" 
            (click)="deleteProduct()">
                Supprimer
            </button>
        </ng-template>
    </mat-menu>

</div>




<div class="transparant_overlay" *ngIf="Transparent_overlay" (click)="hideOverlay()">
</div>