<div class="header-container">
    <div class="row">
        <div class="col-3 logo">

            <div class="logo_dash_contener" [routerLink]="['/dashboard/produits']">
                <span class="material-icons md-dark icon_dash" ngbTooltip="Dashboard" placement="bottom" closeDelay="150" 
                tooltipClass="custom-tooltip">
                    dashboard
                </span>
            </div>

            <!-- <button (click)="home.getProduit()" >got produits</button> -->
<!-- 
            <button (click)="test()" >testone</button>

            <button (click)="callMe()" >call me</button> -->

            <div class="logo_contener">
                <img src="../../../assets/images/your-logo-png-8.png" class="image_logo">
            </div>
        </div>
        <div class="col-5 search-content">

            <div class="slogan">
                <h1 class="titre">
                    e-Commerce | mi-Dév
                </h1>
                <h4>
                    Ny hazo no vano ko ho lakana, ny tany naniriany no tsara
                </h4>
            </div>

            
            <!-- <div class="input-group search-group">
                <input type="text" class="form-control search-input" placeholder="Rechercher un produit">
                <div class="input-group-append">
                    <button class="btn btn-secondary btn-search" type="button">
                        <span class="material-icons search-icon">
                            search
                        </span>
                    </button>
                </div>
            </div> -->
        </div>
        <div class="col-2 login-register">
            <div class="login-register-group">
                <span><a class="txt_login_register" [routerLink]="['/register']"> S'inscrire </a><span
                        class="textseparator">|</span> <a class="txt_login_register" [routerLink]="['/login']">Se
                        connecter</a> </span>
            </div>
        </div>

    </div>
</div>


<!-- <app-home></app-home> -->

<!-- <app-header (exampleOutput)="getPanier($event)"></app-header> -->

<!-- <app-home (exampleOutput)="exampleMethodParent($event)"></app-home> -->