<div class="header-container">
    <div class="row">
        <div class="col-3 logo">LOGO</div>
        <div class="col-5 search-content">
            <div class="input-group search-group">
                <input type="text" class="form-control search-input" placeholder="Rechercher">
                <div class="input-group-append">
                    <button class="btn btn-secondary btn-search" type="button">
                        <span class="material-icons">
                            search
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-2 login-register">
            <div class="login-register-group">
                <span> S'inscrire <span class="textseparator">|</span>Se connecter</span> 
            </div>
        </div>
        <div class="col-2 panier-content">
            <div>
                <ul>
                    <li>
                        <span class="material-icons md-dark">
                            home <hr class="separator">
                        </span>
                        
                    </li>
                    <li>
                        <span class="material-icons md-dark">
                            favorite <hr class="separator">
                        </span>
                    </li>
                    <li>
                        <span class="material-icons md-dark">
                            shopping_cart
                        </span>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>