<div class="raw">
    <div class="col-2 boxclient">
        <ul>
            <li class="li-panier-header" [routerLink]="['/home']">
                <span class="material-icons md-dark">
                    home
                    <hr class="separator">
                </span>

            </li>
            <li class="li-panier-header" [routerLink]="['/favorite']">
                <span class="material-icons md-dark">
                    favorite
                    <hr class="separator">
                </span>
            </li>
            <li class="li-panier-header view-tooltip" (mouseenter)="ShowDetailPanier($event)">
                <span class="material-icons md-dark" [matBadge]="panierTotal.length"
                    [matBadgeHidden]="panierTotal.length==0" matBadgeColor="warn">
                    shopping_cart
                </span>

                <!-- tooltip section -->

    <div class="tooltip shadow">
        <!-- Panier vide -->
        <div class="panierVide text-center" *ngIf="panierTotal.length==0">
            <h1>Votre panier est vide</h1>
            <mat-icon>shopping_cart</mat-icon>
        </div>
        <!-- Fin panier vide -->
        <div class="top-section text-right mt-2" *ngIf="panierTotal.length!=0">
            <div class="btn-section">
                <button class="btn btn-panier" [routerLink]="['/panier']">Ouvrir le panier
                    ({{panierTotal.length}})</button>
            </div>
            <hr>
        </div>

        <div class="for-scroll">
                <div class="content_panier_produit" *ngFor="let p of panierTotal">
                    <div class="image_box">
                        <div class="img">
                          <img src="../../../assets/images/your-logo-png-8.png" alt="" width="100%">
                        </div>
                    </div>
                    <div class="desc_box" style="height: 80px;">

                        <p class="title_panier text-center">
                          {{p.title}}
                        </p>
                     
                        <div class="panier-detail">
                            <div class="quantity row col-12">
                                <div class="col-4 nbr-produit">
                                    {{p.quantiteProduitPanier}}
                                </div>
                                <div class="col-8 text-right pt-panier">
                                    {{p.prixProduitPanier}} ar
                                </div>
                            </div>

                        </div>
                    </div>
                  </div>
        </div>
    </div>
    <!-- end of tooltip section -->

            </li>
        </ul>
    </div>

</div>