.md-dark { color: rgba(0, 0, 0, 0.74); }

.row{
    margin:0px;
}

.material-icons{
    cursor: pointer;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none;
}
ul {
    list-style-type: none;
    background-color: white;
    padding: 13px 0px 10px 2px;
    margin-top: 10px;
    margin-left: 30px;
    width: 158px;
    border-radius: 2px;
  }

.li-panier-header{
    display: inline;
    margin: 12px;
}

.li-panier-header:focus
{
    outline:0!important;
}

.separator{
    width: 1px;
    height: 32px;
    background-color: lightgray;
    margin: -5px -12px 0px 15px;
    float: right;
}

.boxclient{
    position: absolute;
    top: 0px;
    right: 0px;
    float: right;
    background-color: rgb(1, 64, 107);
    height: 75px;
}

.panierVide mat-icon{
    font-size: 50px;
}

.panierVide {
    color: #3d3d3d;
    padding: 10px;
}

.panierVide h1 {
    font-size: 20px;
}

/* correction */
.img{
    width: 100%;
    background-color: white;
    border: 1px solid #d5d5d5;
    height: 90%;
}

.nbr-produit {
    color: rgb(1, 64, 107);
    font-size: 37px;
    font-weight: 500;
    padding-top: 6px;
    /* padding: 0; */
}

.view-tooltip {
position: relative;
}

.content_panier_produit{
    width: 100%;
    margin: 10px;
}

.image_box{
    width: 28%;
    float: left;
}

.desc_box {
    width: 65%;
    float: left;
    /* margin-bottom: 5px; */
}

.panier-detail {
    width: 100%;
    display: inline-flex;
    border: 1px solid #d5d5d5;
    border-left: none;
    text-align: center;
    background-color: rgb(231, 231, 231);
    padding: 5px;
    margin-bottom: -2px;
}

.quantity {
    width: 24%;
    padding: 0;
}

.title_panier {
    margin: 0 0 1px 23px;
    font-size: 15px;
    padding: 0;
}

.pt-panier {
    /* padding: 3px; */
    padding: 5px;
    font-size: 15px;
}

/* ===  NEW CSS FOR TOOLTIP == */
/* ------------------------------------ */
.content_list_statistics{
    width: 280px;
    position: absolute;
    /* right: calc(61% - 270px); */
    right: calc(61% - 50px);
    /* z-index: 3; */
    margin-top: 18px;

    background-color: #fff;
    z-index: 1000;
    border: 1px solid #d5d5d5;

    max-height: 550px;
}

.triangle-top{
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 10px solid white;
    border-bottom: 10px solid transparent;
    position: absolute;
    /* bottom: 10px; */
    top: -15px;
    left: 225px;
    transform: rotate(90deg);
}

.btn-outline {
    border: 1px solid #d5d5d5;
    width: 94%;
    border-radius: 1px;
    margin: 8px 0 0 9px;
    font-size: 15px;
    padding: 4px;
}

.btn-outline:hover {
    background-color: #d5d5d5;
}

.horizontal-line {
    width: 93%;
    position: absolute;
    left: 9px;
    margin-bottom: 7px;
}

.transparant_overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    right: 0px;
    opacity: 0.1;
    background-color: white;
    z-index: 2;
}

.scroll {
    max-height: 496px;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    margin: 2px 0 4px 0;
}