<div class="sidebar">

  <div class="menu">
      <span class="txt_menu">Categories</span>
  </div>


  <div class="vertical-menu">
    <a>Vêtements</a>
    <a>Ordinateurs</a>
    <a>Téléphones</a>
    <a>Imprimentes</a>
    <a>Accessoires</a>
    <a>Subwoofer</a>
  </div>

  <div class="menu">
    <span class="txt_menu">Contactez-nous</span>
  </div>
  <div class="menu" *ngFor="let t of tab">
    <span class="txt_menu">Vendus</span>
  </div>

  <div class="menu" *ngIf="show">
    <span class="txt_menu">Categories</span>
  </div>


  <!-- <button (click)="exampleMethodChild()">click in app sidebar</button> -->

</div>