<app-boxclient #header></app-boxclient>
<div class="dashboard-contener">
    <div class="row">
        <div class="menu_gauche">
            <div class="menu_content">


                <div class="menu_aller_au_site" title="Revenir au site de commerce" [routerLink]="['/home/']">
                    <span class="material-icons">
                        store
                    </span>
                    <span class="label_aller_au_site">
                        Aller au site
                    </span>
                </div>
                <div class="menu_produits" [routerLink]="['/dashboard/produits']">
                    Produits
                </div>
                <div class="menu_produits" [routerLink]="['/dashboard/users']">
                    Utilisateurs
                </div>
                <div class="menu_produits active_menu" [routerLink]="['/dashboard/commandes']">
                    Commandes
                </div>
                <div class="menu_produits">
                    Reporting
                </div>
                <div class="menu_produits">
                    K.P.I
                </div>
                <div class="menu_produits">
                    Feedbacks
                </div>
                <div class="menu_produits">
                    Historique des recherches
                </div>
                <div class="menu_produits">
                    Logs
                </div>

            </div>
        </div>
        <div class="list_centre">
            <!-- <div>
                <input type="text" placeholder="Rechercher">
            </div> -->
            <div class="content_dans_list">
                <div class="menu_dans_list">

                    <p class="titleItem">
                        Commandes
                    </p>

                    <button class="btn_creer" title="Créer un nouveau produit" [disabled]="createType">
                        <span class="material-icons add_produit_icon">
                            add
                        </span>
                        Créer un nouveau
                    </button>


                    <div class="categorieItem">
                        Les catégories
                    </div>

                    <p class="menu_item">
                        Tout
                        <span class="compte_categorie" title="Nombre de tout les produits dans la base">
                            15/2630
                        </span>
                    </p>
                    <p class="menu_item">
                        categorie 1
                        <span class="compte_categorie">
                            654
                        </span>
                    </p>
                    <p class="menu_item">
                        categorie 2
                        <span class="compte_categorie">
                            1520
                        </span>
                    </p>
                    <p class="menu_item">
                        categorie 3
                        <span class="compte_categorie">
                            987
                        </span>
                    </p>

                </div>



                <div class="list_dans_list">

                    <div class="filter" [ngStyle]="{'background-color':showFilter===true ? '#fafafa' : 'lightgrey'}">
                        <button class="btn_filter" (click)="afficherFiltre()" title="Filtrer les resultats">
                            <span class="material-icons">
                                sort
                            </span>
                        </button>
                    </div>

                    <div class="filter_content" *ngIf="showFilter">
                        <input type="text" class="input_filter" placeholder="Filtrer par nom...">


                        <p class="title_filter">Choisissez votre filtre</p>
                        <hr class="hr_filtre">
                        <input type="radio" id="none" name="filtre">
                        <label for="none" class="item_filtre" title="Pas de filtre">Aucun</label>
                        <hr class="hr_filtre">
                        <input type="radio" id="prix_asc" name="filtre">
                        <label for="prix_asc" class="item_filtre" title="De moins chèr au plus chèr">Prix
                            ascendant</label>
                        <hr class="hr_filtre">
                        <input type="radio" id="prix_desc" name="filtre">
                        <label for="prix_desc" class="item_filtre" title="De plus chèr au moins chèr">Prix
                            descendant</label>
                        <hr class="hr_filtre">
                        <input type="radio" id="vote_asc" name="filtre">
                        <label for="vote_asc" class="item_filtre" title="De plus de vote au moins de vote">Vote
                            ascendant</label>
                        <hr class="hr_filtre">
                        <input type="radio" id="vote_desc" name="filtre">
                        <label for="vote_desc" class="item_filtre" title="De moins de vote au plus de vote">Vote
                            descendant</label>
                        <hr class="hr_filtre">

                    </div>

                    <div class="selectionner">
                        <label class="container" style="font-size: small;" title="Basculer selection simple/multiple">
                            {{oneAndAll == true ? 'selectionner' : 'Déselectionner' }}
                            <input type="checkbox" (click)="toggleOneAndAll()">
                            <span class="checkmark"></span>
                        </label>
                    </div>

                    <div class="recherche_box">
                        <input type="text" placeholder="Rechercher utilisateurs.." class="input_search">
                        <button class="btn_search">
                            Rechercher
                        </button>
                    </div>


                    <div class="contenu_element" (scroll)="scrolled()" id="element">

                        <ngx-spinner [name]="spinner_list_utilisateurs" [fullScreen]="false" [type]="spinner_type"
                            [size]="spinner_size" [bdColor]="spinner_background"></ngx-spinner>



                        <div *ngIf="oneAndAll">

                            <div class="table_container">
                                <table id="table_commande" class="table_commande">
                                    <thead>
                                        <tr>
                                            <th class="numero_commande">
                                                <a (click)="sort(true, 'numero_commande', 'table_commande');">
                                                    <mat-icon>arrow_upward</mat-icon>
                                                </a>
                                                Numero
                                                <a (click)="sort(false, 'numero_commande', 'table_commande');">
                                                    <mat-icon>arrow_downward</mat-icon>
                                                </a>
                                            </th>
                                            <th class="client">

                                                <a (click)="sort(true, 'client', 'table_commande');">
                                                    <mat-icon>arrow_upward</mat-icon>
                                                </a>
                                                Client
                                                <a (click)="sort(false, 'client', 'table_commande');">
                                                    <mat-icon>arrow_downward</mat-icon>
                                                </a>
                                            </th>
                                            <th class="etat">
                                                <a (click)="sort(true, 'etat', 'table_commande');">
                                                    <mat-icon>arrow_upward</mat-icon>
                                                </a>
                                                Etat
                                                <a (click)="sort(false, 'etat', 'table_commande');">
                                                    <mat-icon>arrow_downward</mat-icon>
                                                </a>
                                            </th>
                                            <th class="date_creation">
                                                <a (click)="sort(true, 'date_creation', 'table_commande');">
                                                    <mat-icon>arrow_upward</mat-icon>
                                                </a>
                                                Date
                                                <a (click)="sort(false, 'date_creation', 'table_commande');">
                                                    <mat-icon>arrow_downward</mat-icon>
                                                </a>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let c of commandes ; let i = count" (click)="getOneCommande(c)">
                                            <td class="numero_commande">{{c.numero_commande}}</td>
                                            <td class="client">{{c.client}}</td>
                                            <td class="etat">{{c.etat}}</td>
                                            <td class="date_creation">{{c.date_creation| date : "fullDate" }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>



                        <div *ngIf="!oneAndAll">

                            All Commande
                            <!-- <div class="element_un_check" *ngFor="let p of produits" title="{{p.description}}"
                                [ngStyle]="{'opacity': p.etat!=state_to_change ? '0.7' : '1'}">
                                <input type="checkbox" class="checkCase" name="" id="{{p._id}}" check="true"
                                    [disabled]="p.etat!=state_to_change" (click)="selectProduit(p);"
                                    title="Cocher ici pour selection le produit">
                                <img src="../../../../assets/images/your-logo-png-8.png" width="50px" alt="">
                                <span class="title_produit_list">
                                    {{p.title}}
                                </span>
                                <span class="state_produit_on_list" title="Etats du produit"
                                    [ngStyle]="{'color': p.etat === 'live' ? 'green' : p.etat === 'sandbox' ? 'orange' : 'red'}">
                                    {{p.etat}}
                                </span>
                            </div> -->
                        </div>

                    </div>




                    <div class="loadMore" *ngIf="loadMore">
                        <!-- <ngx-spinner [name]="spinner_loadMore" [fullScreen]="false" type="line-scale" size="5px"
                            [bdColor]="spinner_background">
                        </ngx-spinner> -->
                    </div>

                </div>
            </div>
            <!--detail client et mode de paiement-->

            <div class="all_inf_client">
                <div class="title-cli">
                    <span class="text_style_cli">Information du client</span>
                </div>
                <div class="cli">
                    <div class="left_col">
                        <div class="box_image">
                            <img src="../../../../assets/images/your-logo-png-8.png" class="img_cli">
                        </div>
                        <div class="value_date">
                            <span class="text_value">
                                {{detailCmd.etat}}
                            </span><br>
                            <span class="date_com">
                                {{detailCmd.user.dateInscription}}
                            </span>
                        </div>
                    </div>
                    <div class='inf_cli'>
                        <div class="information">
                            <input class="cli_name" disabled [(ngModel)]="detailCmd.client"><br>
                            <input class="email" disabled [(ngModel)]="detailCmd.tracage.email"><br>
                            <input class="tel" disabled [(ngModel)]="detailCmd.tracage.tel">
                        </div>

                        <div class="style_inf">
                            <div class="type_attri">
                                <span class="style_type">Pays:</span><br>
                                <span class="style_type">Ville:</span><br>
                                <span class="style_type">Adresse:</span>
                            </div>

                            <div class="type-right">
                                <span class="style_text">{{detailCmd.user.pays}}</span><br>
                                <span class="style_text">{{detailCmd.user.ville}}</span><br>
                                <span class="style_text">{{detailCmd.user.adresse}}</span><br>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="paiement">
                <div class="title-p">
                    <span class="text_style">Paiement</span>
                </div>
                <div class="style_paiement">
                    <div class="type_attri">
                        <span class="style_type">Méthode:</span><br>
                        <span class="style_type">Transaction:</span><br>
                        <span class="style_type">Somme:</span>
                    </div>

                    <div class="type_paiement">
                        <input class="style_text" disabled [(ngModel)]="detailCmd.tracage.tel"><br>
                        <input class="style_text" disabled [(ngModel)]="detailCmd.payment.transaction_id"><br>
                        <input class="style_text" disabled [(ngModel)]="detailCmd.payment.amount">
                    </div>
                </div>
                <div class="title-p">
                    <span class="text_style">Délivrance</span>
                </div>
                <div class="style_esti">
                    <div class="type_p">
                        <span class="style_type">Date d'estimation</span><br>
                        <span class="style_type">Note de delivrance:</span>
                    </div>

                    <div class="type_deli">
                        <input class="style_text" disabled [(ngModel)]="detailCmd.tracage.estimation_delivrance"><br>
                        <!-- <input class="style_text"disabled [(ngModel)]="detailCmd.note_delivrance"> -->
                        <!-- <span class="style_text">{{detailCmd.tracage.estimation_delivrance}}</span><br>
                        <span class="style_text">{{detailCmd.note_delivrance}}</span><br> -->
                        <span class="if_save">Enregistrer</span>
                    </div>
                </div>
                <div>
                    <textarea class="text_holder" placeholder=" Ecrire votre note ici ..."></textarea>
                </div>
            </div>
        </div>
        <!--fin detail client et paiement-->
        <div class="detail_droit">
            <div *ngIf="oneAndAll">
                <h3 class="lbl_h3_detail">Detail du commande</h3>
                <span class="text_inf"> Information du commande</span>
                <div class="box_inf_com">
                    <div class="groupe_content">
                        <div class="leftSide sideToside">
                            <div class="detail_to_change">
                                <input class="input_tochange" disabled [(ngModel)]="detailCmd.numero_commande">

                                <div class="label_change">
                                    Numero
                                </div>
                            </div>
                        </div>
                        <div class="rightSide sideToside">
                            <div class="detail_to_change">
                                <input class="input_tochange rightNumber" disabled [(ngModel)]="detailCmd.etat">
                                <div class="label_change">
                                    Etat
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="groupe_content">
                        <div class="leftSide sideToside">
                            <div class="detail_to_change">
                                <input class="input_tochange" disabled [(ngModel)]="detailCmd.client">
                                <div class="label_change">
                                    Nom Client
                                </div>
                            </div>
                        </div>
                        <div class="rightSide sideToside">
                            <div class="detail_to_change">
                                <input class="input_tochange rightNumber" disabled
                                    [(ngModel)]="detailCmd.date_creation">
                                <div class="label_change">
                                    Date
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                
                    <span class="text_inf">
                        Produits commandés (2)
                    </span>
                    <span class="lbl_total">
                        52000 ariary
                    </span>
                    <div class="box_prod_com">
                        <div class=type_produit *ngFor=" let com of detailCmd.commandes; let i = count">
                            <div class="box_image_prod">
                                <img src="../../../../assets/images/your-logo-png-8.png" class="img_prod">
                            </div>
                            <div class="detail_prod">
                                <div class="name_prod">
                                    <span class="lbl_left">
                                        {{com.id_produit.categorie.nom}}
                                    </span>
                                    <span class="lbl_text">
                                        #Mobile
                                    </span>
                                </div>
                                <div class="nbr_prod">
                                    <span class="lbl_nbr">
                                        {{com.quantite}}&nbsp;
                                    </span>
                                    <span class="lbl_index"> pièces</span>
                                    <div class="lbl_price">
                                        <span class="text_bottom">{{com.currency}}/pièces</span>
                                        <span class="lbl_nbr_prod">
                                            {{com.prix_unitaire}}&nbsp;
                                        </span>

                                    </div>
                                </div>
                                <div class="prix_prod">
                                    <span class="lbl_nbr">
                                        {{com.quantite*com.prix_unitaire}}&nbsp;
                                    </span>
                                    <span class="lbl_index">ariary</span>
                                    <div class="over_detail">
                                        Plus de détails
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                <span class="text_inf">
                    Adresse du destinataire
                </span>
                <div class="box_inf_adrs">
                    <div class="groupe_content">
                        <div class="leftSide sideToside">
                            <div class="detail_to_change">
                                <input class="input_tochange" disabled [(ngModel)]="detailCmd.user.pays">
                                <div class="label_change">
                                    Pays
                                </div>
                            </div>
                        </div>
                        <div class="rightSide sideToside">
                            <div class="detail_to_change">
                                <input class="input_tochange rightNumber" disabled [(ngModel)]="detailCmd.user.ville">
                                <div class="label_change">
                                    Ville
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="box_Adresse">
                        Mahamasina, Lot 5623 en face Stade municipale
                    </div>
                    <span class="text_bottom">
                        Adresse
                    </span>
                </div>
            </div>
        </div>

    </div>




    <ng-template #imageProduit style="background-color: white;">
        <img src="../../../../assets/images/your-logo-png-8.png" width="100%" alt="">
    </ng-template>


    <div class="transparant_overlay" *ngIf="Transparent_overlay" (click)="hideOverlay()">
    </div>
