.dashboard-contener{
    /* background-color: rgb(231, 231, 231); */
    /* border: 1px solid #d5d5d5; */

}

.material-icons{
    cursor: pointer;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none;
}

.row{
    margin:0px;
}

.menu_gauche{
    /* height: 400px; */
    padding: 6px;
    width: 15%;
    border: 1px solid #d5d5d5;
    background-color: #f6f6f6;
}

.list_centre{
    /* height: 100%; */
    padding: 5px;
    width: calc(60% - 10px) ;
    margin:0px 5px 0px 5px;
    background-color: rgb(246, 246, 246);
    border: 1px solid #d5d5d5;
    height: 650px;
}
/*detail commande */
.detail_droit{
    height: 100%;
    width: 25%;
    background-color: rgb(231, 231, 231); 
    border: 1px solid #d5d5d5;
    min-height: 650px;
    padding:8px 8px 8px 0px;
}
.lbl_h3_detail{
    color: rgb(1, 64, 107);
    margin-bottom:1px;
    margin-left:8px;
}

.text_inf{
    color: rgb(1, 64, 107);
    float:left;
    font-size: small;
    font-weight: 450;
    margin-left:8px;
   
}
.box_inf_com{
    width:97%;
    height:97px;
    background-color: white;
    border: 0px solid #d5d5d5;
    overflow: hidden;
    padding:8px;
    margin-bottom: 8px; 
    margin-left:8px;
    float:right;
    
}

.pos_left{
    width:100%;
    height: 50px;
    float: left;
}
.top_val{
    border-bottom: 1px solid #d5d5d5;
    width:48%;
    height:20px;
    float:left;
    margin-bottom:0px;

}
.lbl_left{
    width:30px;
    font-weight: 450;
    color: rgb(1, 64, 107);
    font-size: small;
}
.bott_val{
    border-bottom: 1px solid #d5d5d5;
    width:48%;
    height:20px;
    float:left;
    margin-top: 22px;

}
.text_bottom{
    float:right;
    color: #b0b0b0;
    font-weight: normal;
    font-size: small;  
}
.pos_right{
    width:100%;
    height: 50px;
    float: right;
    margin-top:-50px;
}
.lbl_right_etat{
    width:56px;
    font-weight: 450;
    color: rgb(1, 64, 107);
    font-size: small;
    float:right;
}
.lbl_right_date{
    float:right;
     font-weight: 450;
    color: rgb(1, 64, 107);
    font-size: small;
}
.bott_right_val{
    border-bottom: 1px solid #d5d5d5;
    width:45%;
    height:20px;
    float:right;
    margin-top: 22px;

}
.top_right_val{
    border-bottom: 1px solid #d5d5d5;
    width:45%;
    height:20px;
    float:right;
    margin-bottom:0px;

}
.box_prod_com{
    width:100%;
    height:293px;
    overflow-y:scroll;
    border: 1px solid #d5d5d5;
    margin-bottom:8px;
    padding:0px 7px 5px 2px;
    margin-left: 4px;

}
.type_produit{
    width:100%;
    height:90px;
    background-color: white;
    border: 0px solid #d5d5d5;
    padding:5px;
    margin-bottom:8px;
    margin-left:5px;
}




.box_inf_adrs{
    width:97%;
    height:140px;
    background-color: white;
    border: 1px solid #d5d5d5;
    overflow: hidden;
    padding:8px;
    margin-bottom: 8px;
    
    float:right;
}
.lbl_pays{
    border-bottom: 1px solid #d5d5d5;
    width:45%;
    height:20px;
    float:left;
    margin-bottom:0px;
}
.lbl_country{
    border-bottom: 1px solid #d5d5d5;
    width:45%;
    height:20px;
    float:right;
 
}
.lbl_right_country{
    float:right;
    font-weight: 450;
    color: rgb(1, 64, 107);
    font-size: small;
}
.box_Adresse{
    width:100%;
    height:55px;
    background-color:#f5f5f5;
    border: 0px solid #d5d5d5;
    padding:5px 0px 5px 5px;
    margin-bottom:2px;
    margin-top:30px;
    color: #b0b0b0;
    font-weight: normal;
    font-size: small;  
}
.box_image_prod{
    width:28%;
    float: left;
    border: 1px solid #d5d5d5;
    padding: 5px;
    margin-right:5px;
    height:80px;

}
.img_prod{
    width: 100%;
    border: 1px solid #d5d5d5;
    height:70px;
}
.detail_prod{
    width:100%;
    height: 80px;
}
.lbl_nbr{
    float:left;
    font-weight: 450;
    font-size: small;
    color:black;
}
.lbl_nbr_prod{
    float:right;
    font-weight: 450;
    font-size: small;
    color:black;
}
.lbl_index{
    float:left;
    color:black;
     font-weight: normal;
    font-size: small;  
}
.lbl_price{
    width:100%;
}
.name_prod{
    width:100%;
    height:26px;    
}

.nbr_prod{
    width:100%;
    height: 30px;  
}

.prix_prod{
    width:100%;
    height: 28px;
   
}
.lbl_text{
    float:right;
    font-weight:100;
    font-size:8px;
}
.over_detail{
    color:#42a7ff;
    float:right;
    font-size:11px;
    font-weight:450;
}






.menu_content{
    width: 100%;;
    height: 50px;
    padding: 0px;
    
}

.content_dans_list{
    width: 100%;
    height: 70%;
}

.menu_dans_list{
    width: 20%;
    height: calc(100% - 30px);
    background-color: white;
    float: left;
    border: 1px solid #d5d5d5;
}

.list_dans_list{
    width: calc(80%);
    height: 80%;
    background-color: rgb(246, 246, 246);
    float: right;
    /* overflow-y: scroll; */
}

.titleItem{
    padding: 18px 0px 17px 0px;
    text-align: center;
    background-color: lightgray;
    margin: 0px 0px 10px 0px;
    font-size: larger;
}

.categorieItem{
    padding: 8px 0px 8px 23px;
    /* text-align: center; */
    margin: 7px 0px 0px 0px;
    /* border: 1px solid #d5d5d5; */
    border-left: none;
    border-right: none;
    background-color: #f6f6f6;
}

.menu_item{
    padding: 5px 0px 5px 18px;
    /* text-align: center; */
    background-color: white;
    margin: 0px 5px 5px 5px;
    /* border: 1px solid #d5d5d5; */
    cursor: pointer;
}

.menu_item:hover{
    background-color: rgb(1, 64, 107);
    color: white;
}

.element_un
{
    width: 31%;
    border: none;
    text-align: start;
    padding-left: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    overflow: hidden;
    background-color: white;
    border: 1px solid #d5d5d5;
    height: 50px;
    font-size: small;
}

.element_un_check
{
    width: 31%;
    border: none;
    text-align: start;
    padding-top: 1px;
    padding-left: 0px;
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 10px;
    overflow: hidden;
    background-color: white;
    border: 1px solid #d5d5d5;
    height: 50px;
    font-size: small;
    display: inline-block;
}

.checkCase{
    float: right;
}




.textarea_change{
    float: left;
    width: 100%;
    height: 60px;
    border: 0.5px solid #d5d5d5;
    /* border-top: 0px; */
    /* border-right: 0px; */
    /* border-left: 0px; */
    padding-left: 10px;
    color: black;
    background-color: rgb(250, 250, 250);
    font-size: small;
}




.input_change{
    float: left;
    width: 100%;
    border: 0.5px solid #d5d5d5;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    padding-left:10px;
    color:rgb(1, 64, 107);
    font-size: small;
    font-weight: 450;
}

.input_change:hover{
    border: 0.5px solid #d5d5d5;
}



.recherche_box{
    width: calc(70% - 10px);
    padding: 10px 10px 10px 6px;
    background-color: lightgray;
    margin-left: 10px;
    margin-bottom: 5px;
}

.input_search{
    width: calc(80% - 10px);
    height: 35px;
    margin: 0px 0px 0px 4px;
    padding: 0px 0px 0px 10px;
}

.btn_search{
    width: 20%;
    height: 35px;
}

.contenu_element{
    position: relative;
    height: 100%;
    overflow-y: scroll;
}



/***** checkbox******/

.container {
    display: block;
    position: relative;
    padding-left: 33px;
    padding-top: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: white;
    width: 123px;
    height: 30px;
    font-size: unset;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color:rgb(1, 64, 107);;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    /* display: none; */
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 10px;
    height: 16px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }

/*******************/

.selectionner{
    float: right;
    padding: 7px;
    background-color: lightgray;
    width: calc(20% - 5px);
}

.filter{
    position: relative;
    padding: 12px 0px 11px 0px;
    float: right;
    width: calc(10% - 4px);
    background-color: lightgray;
    border-radius: 0px;
    margin-left: 4px;
    text-align: center;
    z-index: 1000;
}

.filter_content{
    width: 200px;
    height: 280px;
    background-color: #fafafa;
    z-index: 1000;
    position: absolute;
    float: right;
    margin-top: 53px;
    right: calc(25% + 11px);
    box-shadow: -3px 3px 5px -4px grey;
    padding: 10px;
}

.mat-menu-panel {
    background: white!important;
}

.btn_filter{
    border:none;
}

.transparant_overlay{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    right: 0px;
    opacity: 0.15;
    background-color: white;
}

.input_filter{
    width: 100%;
    height: 30px;
    padding-left: 10px;
    border: 1px solid #d5d5d5; 
}

.item_filtre{
    margin: 4px 0px 4px 16px;
    font-size: small;
}

.hr_filtre{
    margin: 0px;
}

.title_filter{
    margin-top: 15px;
    margin-bottom: 10px;
    width: 100%;
    padding: 2px;
    font-size: small;
    text-align: center;
    background-color: rgb(231, 231, 231);
}

.btn_creer{
    width: calc(100% - 10px);
    height: 30px;
    margin: 1px 5px 10px 5px;
    /* border: 1px solid rgb(1, 64, 107); */
    font-size: small;
    color: rgb(1, 64, 107);
}

.add_produit_icon{
    font-size: small;
}

.loadMore{
    width: 100%;
    margin-top: 10px;
    background-color: blanchedalmond;
    text-align: center;
    position: relative;
}

.menu_produits{
    width: 100%;
    padding: 5px 5px 5px 15px;
    /* background-color: blanchedalmond; */
    text-align: start;
    margin-bottom: 7px;
    cursor: pointer;
}

.menu_produits:hover{
    /* background-color:#e7e7e7; */
    background-color: rgb(1, 64, 107);
    color: white;
}

.menu_aller_au_site{
    width: 100%;
    padding: 5px;
    background-color: lightgrey;
    text-align: start;
    margin-bottom: 10px;
    cursor: pointer;
}

.label_aller_au_site{
    position: absolute;
    margin-left: 7px;
    margin-top: 3px;
}

.active_menu{
    border: 1px solid blue;
}

.state_produit_on_list{
    float: right;
    margin-top: 28px;
    margin-left: 6px;
    font-size: smaller;
}

.title_produit_list{
    position: absolute;
    margin-top: 9px;
    margin-left: 5px;
}



.compte_categorie{
    float: right;
    font-size: x-small;
    margin-right: 10px;
    opacity: 0.7;
}


.infoDate{
    color: rgb(1, 64, 107);
}

.table_container{
    width: calc(100% - 10px);
    background-color:white;
    /* padding-left: 10px; */
    /* padding: 2px; */
    margin-left: 10px;
    border: 1px solid #eeeeee; 
}

.table_commande{
    width: 100%;
    background-color: white;
    padding: 5px;
    font-size: small;
}

mat-icon{
    font-size: small;
    margin-right: -12px;
    opacity: 0.3;
}

mat-icon:hover{
    opacity: 1;
}

th {
    font-weight: 550;
    background-color: aliceblue;
  }

tr{
    height: 30px;
  }

tr:hover {
    background-color: #f5f5f5;
    border: 1px solid lightgray;
}




.numero_commande{
    padding-left: 10px;
}
/*detail client et mode de paiement*/

.all_inf_client{
    width: calc(55% - 5px);
    height: 34%;
    background-color: white;
    border: 1px solid #d5d5d5;
    float: left;
    margin-top:-25px;
    padding:5px ;
  
 
}
.title-cli{
    
    width: 100%;
    height: 9%;
    background-color: #f5f5f5;
    border: 0px solid #d5d5d5;
    padding-bottom:1px;
  
}
.text_style_cli{
    padding-top: -5px;
    text-align: start;
    color:rgb(1, 64, 107);
    padding-left: 12px;
    display: inline-block;
    font-weight:450;
    margin-left:-8px;
}
.cli{
    width:100%;
    height: 86%;
    display: block;
}
.left_col{
    width:80px;
    margin-left:15px;
}
.box_image{
    width:125%;
    background-color: white;
    overflow-y: hidden;
    margin: 10px 5px 5px -10px;
    border: 1px solid #d5d5d5;
    display: inline-block;
    padding: 5px;
}
.value_date{
    margin-top: 27px;
}
.text_value{
    color:#42a66a;
    margin-left:10px;
    font-weight:450;
    font-size: small;
}
.date_com{
    margin-left:4px;
    font-weight:450;
    font-size: small;
}
.inf_cli{
    width:71%;
    background-color: white;
    display: block;
    height: 102%;
    float: right;
    margin-top:-176px;
    padding:1px;
   
}
.img_cli{
    width: 100%;
}
.information{
    line-height: 24px;
    margin-top:10px;
    width:77%;
    margin-left:5px;
    float:left;
}
.cli_name{
    font-weight:450;
    color:rgb(1, 64, 107);
    margin-bottom: -5px;
    font-size:small;
}
.email{
    font-weight:450;
    font-style:italic;
    font-size:small;
    color:#42a7ff;
} 
.tel{
    font-weight:450;
    color:rgb(1, 64, 107);
    font-size:small;
}
.style_inf{
    margin-top:2px;
    margin-left:4px;
    width: 99%;
    border: 0px solid ;
    float:left;
    background-color:#fafafa ;
    padding-left: 7px;
    height:54%;
    margin-bottom: 0px;
}

.style_type{
    color: #b0b0b0;
    line-height: 22px;
    font-weight:normal;
    font-size:small;
}

.type_attri{
    width:20%;
    margin-top:2px;
    height:98%;
   
}
.type-right{
    width:73%;
    margin-top:-94px;
    float:left;
    margin-left:63px;
}
.style_text{
    font-weight:450;
    color:rgb(1, 64, 107);
    line-height: 22px;
    font-size:small;
}
.paiement{
    margin-left: 5px;
    width: calc(45% - 5px);
    height: 34%;
    background-color: white;
    border: 1px solid #d5d5d5;
    float: right;
    overflow: hidden;   
    margin-top:-25px;
    padding: 5px;
}
.title-p{
    
    width:100%;
    height: 9%;
    background-color:#f5f5f5;
    border: 0px solid #d5d5d5;
    float:left;  
}
.text_style{
    margin-top: -5px;
    text-align: start;
    color:rgb(1, 64, 107);
    padding-left: 12px;
    display: inline-block;
    font-weight:450;
    margin-left:-8px;
}
.style_paiement{
    line-height:21px;
    width: 102%;
    height:0%;
    padding:5px;
}

.type_p{
    width:50%;
    height:0%;
    margin-top:50px;
}
.type_deli{
    width:60%;
    float:right;
}
.style_esti{
    line-height:21px;
    width: 102%;
    height:0%;
    padding:5px;
}
.type_paiement{
    width:60%;
    float:right;
   
}
.if_save{
    color:#42a7ff;
    float:right;
    font-size: small;
    font-weight:450;
}
.text_holder{
    margin-left:7px;
    width: calc(100% - 8px);
    height:60px;
    background-color:#f5f5f5;
    border: 0px solid #d5d5d5;
    float:left; 
    font-size: small;
    font-weight:450;
    padding: 5px;
}
