/* You can add global styles to this file, and also import other style files */
@import "~ng-pick-datetime/assets/style/picker.min.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.blue-snackbar {
    background: rgb(1, 64, 107);
    color: white;
    
  }

.mat-dialog-container {
    background-color: white;
    color: black;
}

.mat-menu-panel {
  border-radius: 0!important;
  outline: 0;
}
.mat-menu-content:not(:empty) {
  padding-top: 0px!important;
  padding-bottom: 0px!important;
}